.table_container{
    background-color: #212529;
    height: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.table_top{
    height: 50px;
    background-color: rgb(44 48 52);
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.table_middle{
    padding: 15px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label{
    padding-right: 10px;
}
input{
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}
.left_side{
    display: flex;
    align-items: center;
}