.sidebar_menu{
    display: flex;
    flex-direction: column;    
    row-gap: 15px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
    border-radius:10px;
    height: 96vh;
    align-items: center;
    border: 1px solid white;
}
.sidebar_menu li:hover{
    /* color: black; */
    background-color: rgb(95, 34, 114);
}
li{
    list-style-type: none;
    padding: 15px 31px;
    border-radius: 5px;
    color: white;
    margin: 4px;
    display: flex;
    align-items: center;
    gap: 15px;
}
a{
    text-decoration: none;
}